body {
  font-family: Roboto, sans-serif;
}

.box {
  display: flex;
  align-items: center;
  padding: 2px 14px;
  background: white;
  border: 1px solid #2980b9;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.box p {
  margin: 0;
}

.box .function,
.box .subtitle {
  color: #484848;
}

.box .title {
  font-size: 1rem;
  font-weight: 400;
  color: #232323;
}

.box .function {
  font-size: 0.8rem;
  font-variant: small-caps;
}

.box .subtitle {
  font-size: 0.8rem;
}

.simple-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.simple-icon .square {
  aspect-ratio: 1 / 1;
  padding: 12px;
  background: white;
  border: 1px solid #2980b9;
  border-radius: 48px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.simple-icon img {
  width: 32px;
  height: 32px;
}

.simple-icon .title {
  margin: 0;
}
