@import "normalize.css";

.dac-area {
  display: inline-grid;
  grid-auto-columns: max-content;
  align-items: center;
  justify-items: center;

  .dac-zone {
    z-index: 5;
    background: #dfdfdf;
    border-radius: 8px;
    text-align: center;

    .dac-zone-title {
      font-size: 1.0rem;
      position: relative;
      bottom: 1.3em;
    }
  }

  .dac-node {
    z-index: 20;

    * {
      pointer-events: none;
    }
  }

  #dac-titles {
    p {
      margin: 0;
      text-align: center;
    }

    #dac-titles p {
      margin: 0;
    }

    #dac-title {
      font-size: 1.1rem;
      font-weight: 600;
    }

    #dac-subtitle {
      font-size: 1rem;
      font-style: italic;
      color: #343434;
    }
  }

  .jtk-connector {
    z-index: 10;
  }

  .jtk-endpoint {
    z-index: 11;
  }

  .jtk-overlay {
    background: white;
    z-index: 1000;
    color: #525252;
  }
}

.dac-template {
  display: none !important;
}

.dac-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
  background: #eaeaea;
  border-radius: 8px;

  .title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .function {
    margin: 0;
    font-size: 0.8rem;
    color: #343434;
  }
}
