* {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#dac-area {
  display: inline-grid;
  grid-auto-columns: max-content;
  grid-row-gap: 48px;
  grid-column-gap: 70px;
  align-items: center;
  justify-items: center;
}

.dac-template {
  display: none !important;
}

.dac-node {
  z-index: 2;
}

.jtk-connector {
  z-index: 0;
}

.jtk-endpoint {
  z-index: 1;
}
