* {
  font-family: Roboto, sans-serif;
}

body {
  font-size: 12px;
}

.dac-area {
  display: inline-grid;
  grid-auto-columns: max-content;
  align-items: center;
  justify-items: center;
}

.dac-template {
  display: none !important;
}

.dac-zone {
  border-radius: 8px;
  text-align: center;
}

.dac-zone-title {
  font-size: 1.1em;
  position: relative;
  bottom: 1.3em;
}

.dac-node {
  z-index: 2;
}

.jtk-connector {
  z-index: 0;
}

.jtk-endpoint {
  z-index: 1;
}
